/* Variables de colores */
:root {
    --main: #D1E16A;
    --txtWhite: #fff;
    --txtBlack: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.container {
    margin: auto;
    width: 80%;

}

.banner {
    display: flex;
    margin: auto;
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txtBanner {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.txtBanner h2 {
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--main);
}

.txtBanner h1 {
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--txtWhite);
}

.txtBanner span {
    position:absolute;
    width: 200px;
    height: 5px;
    background-color: var(--main)
}

.txtBanner p {
    font-weight: 100;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--txtWhite);
}

.txtBanner a {
    text-decoration: none;
    padding: 10px 40px;
    background-color: var(--main);
    color: var(--txtWhite);
}

/* Estilos Section 1 */

.section1 {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.txtSection1 {
    margin: auto;
    width: 40%;
}
.txtSection1 h2 {
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--main);
}

.txtSection1 h1 {
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--txtBlack);
}

.txtSection1 span {
    position:absolute;
    width: 200px;
    height: 5px;
    background-color: var(--main)
}

.txtSection1 p {
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--txtBlack);
}


.pSection1 {
    margin: auto;
    width: 40%;
}

.pSection1 p {
    font-weight: 100;
    color: var(--txtBlack);
    margin-bottom: 30px;
}

.pSection1 a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--main);
    color: var(--txtWhite);
}

/* Estilos Section 1 */

.sectionImgs {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35%;
    margin: auto;
    position: relative;
}

.card img {
    width: 100%;
    margin: auto;
    height: 324px;
    object-fit: cover;
    opacity: 0.6;
}

.txtSectionImgs {
    position: absolute;
    width: 80%;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.txtSectionImgs h1 {
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--txtBlack);
}

.txtSectionImgs span {
    position:absolute;
    width: 200px;
    height: 5px;
    background-color: var(--main)
}

.txtSectionImgs p {
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--txtBlack);
}

/* Estilos Section 2 */

.section2 {
    margin: auto;
    width: 100%;
}

.titleSection2 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin: auto;
}

.titleSection2 p {
    width: 100%;
    font-weight: bold;
    color: var(--main);
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.titleSection2 h1 {
    color: var(--txtBlack);
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    
}

.titleSection2 span {
    position: absolute;
    margin: auto;
    width: 10%;
    height: 5px;
    background-color: var(--main)
}

.gridSection2 {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gridItem {
    width: 45%;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    gap: 25px;
}

.gridItem img {
    max-width: 100%;
    object-fit: cover;
}

.gridTxt {
    font-weight: 100;
}

.gridTxt h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.gridTxt p {
    color: var(--txtBlack);
}

/* Estilos Section 2 */

.sectionMap {
    padding: 50px 0;
    margin: auto;
    width: 100%;
    background: var(--txtBlack);
}

.containerFlex {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    
}

.img { 
    margin: auto;
    width: 40%;
}

.containerFlex img {
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.txtSectionMap {
    margin: auto;
    width: 40%;
}

.txtSectionMap h2 {
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--main);
}

.txtSectionMap h1 {
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--txtWhite);
}

.txtSectionMap span {
    position:absolute;
    width: 200px;
    height: 5px;
    background-color: var(--main)
}

.txtSectionMap p {
    font-weight: 100;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--txtWhite);
}

.txtSectionMap a {
    text-decoration: none;
    padding: 10px 40px;
    background-color: var(--main);
    color: var(--txtWhite);
}
